<%= form_for(@restaurant) do |f| %>
<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages.each do |message|%>
  <h3><%= message %> </h3>
  <%end%>
<%end%>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <%= f.submit %>
<% end %>
