<h1>Restaurants#index</h1>
<p>Find me in app/views/restaurants/index.html.erb</p>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %>, price: <%= restaurant.price %>, rating: <%= restaurant.rating %></li>
    <%= link_to "see more", restaurant_path(restaurant) %>
    <%= link_to "destroy", restaurant_path(restaurant), method: :delete,  data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>
